.my-card-content {
    display: inline-block;
    width: 100%;
    background-color: #ccc;
    text-align: center;
    line-height: 0;
    padding: 0px;
}

.my-card-text-content {
    font-size: 16px;
    font-weight: 500;
    background-color: #ccc;
}

.my-footer-action {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    min-width: 20px;

}

.my-display-inline-block {
    display: inline-block;
    margin: 10px;
}

.my-footer-action-btn {
    background-color: red !important;
    padding: 0 !important;
    margin: 0 !important;
    min-width: 50px;
    width: 50px;    
}

.thefuck {
    background-color: blue !important;
    margin: 0 !important;
    padding: 0 !important;
}