.my-card-photo {
    margin: 2px;
}

.my-card-content {
    /* background-color: #ccc; */
    text-align: center;
    line-height: 0;
    padding: 0px;
    /* line-height: 20px; */
    padding: 0;
    border-bottom: 1px solid #ccc;
}

.my-card-text-content {
    font-size: 16px;
    font-weight: 500;
    background-color: blue;
}

.my-text {
    font-size: 16px;
    font-weight: 500;
    color: #1976d2;
    text-align: center;
    /* background-color: red; */
}

.my-display-inline-block {
    display: inline-block;
    margin: 10px;
    /* cursor: pointer; */
}

.my-display-inline-block:hover {
    /* opacity: 0.5; */
}

.my-title {
    font-size: 16px;
    font-weight: 500;
    color: #1976d2;
    text-align: center;
}

/* use */
.my-action {
    display: flex;
    justify-content: space-between;
    /* min-width: 20px; */
    /* background-color: yellow; */
    height: 20px;
    align-items: center; /* important */
}

/* use */
.my-action-btn {
    height: 16px;
}

/* use */
.my-action-btn-doing {
    height: 16px !important;
}

.test {
    /* background-color: blue; */
    margin: 0;
    padding: 0;
}

.my-footer-action-btn {
    background-color: red !important;
}



.my-config {
    position: relative;
    
}

.test-test {
    background-color: red;
    font-size: 12px;
    line-height: 12px;
    height: 12px;
    width: 100%;
    height: 100%;
}

.my-action-btn {
    height: 16px;
}